.cust-nav:hover{
	background: none !important;
	color: white !important;
	opacity: 0.6 !important;
}
.cust-nav{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
@media only screen and (max-width: 1010px){
	.logo {
		width: 20% !important;
	}
}
@media only screen and (max-width: 770px){
	.logo {
		width: 25% !important;
	}
}
@media only screen and (max-width: 630px){
	.logo {
		width: 30% !important;
	}
}
@media only screen and (max-width: 460px){
	.logo {
		width: 40% !important;
	}
}
@media only screen and (max-width: 340px){
	.logo {
		width: 50% !important;
	}
}
@media only screen and (max-width: 600px){
	.cust-card {
		margin-bottom: 30px;
	}
}